project_name       = "{{ .Project.Name }}"
environment_prefix = "{{ .Project.EnvironmentPrefix }}"
region             = "{{ .Provider.Region }}"
{{- if .Provider.Profile }}
aws_profile        = "{{ .Provider.Profile }}"
{{- end }}
cluster_name       = "{{ .Cluster.Name }}"
cluster_version    = "{{ .Cluster.Version }}"
vpc_cidr           = "{{ .Cluster.VPC.CIDR }}"
az_count           = {{ .Cluster.VPC.AZCount }}
